<!--
This is the manually curated contents page
In here we write the HTML that is displayed on the sidebar on our website
You can style things with three levels of importance

  - post
      - subpost
          - subsubpost 


-->


<div class="catbloc-collection">
     <div class="catbloc">          
            <ul class="sidebar-post">


                  <p>
                    Misc
                  </p>


                  <li>
                        <a href="{{ site.contentsref }}Contents">
                         Contents
                        </a>
                  </li> 



                  <p>
                  Test
                  </p>

                             
                   <li>
                        <a href="{{ site.contentsref }}SoftwareDevelopment-subtopics/ReviewAndCoaching">
                         Review and Coaching
                        </a>

                        <ul>
                            <a href="{{ site.contentsref }}SoftwareDevelopment-subtopics/SpecificationWriting">
                             Specification Writing
                            </a>

                            <li>
                                  <a href="{{ site.contentsref }}SoftwareDevelopment-subtopics/TestDeploy">
                                   Test Deploy
                                  </a>
                            </li>
                        </ul> 
                  </li>





               </ul>
            </div>
</div>