<div class="catbloc-collection">
     <div class="catbloc">          
            <ul class="sidebar-post">


                  <h4>
                    <i class="fa fa-folder"></i>
                    <a href="{{ site.contentsref }}Contents">
                         Contents
                    </a>
                  </h4>

                  <h4>
                    <i class="fa fa-server"></i>
                    Process
                  </h4>
                  <li>
                        <a class="toDo" href="{{ site.contentsref }}Process/DailyWorkflow">
                         Daily Workflow
                        </a>
                  </li> 
                  <li>
                        <a class="toDo" href="{{ site.contentsref }}Process/QAProcess">
                         QA Process
                        </a>
                  </li> 

                  <h4>
                  <i class="fa fa-chain"></i>
                  Software Development Process
                  </h4>
                  <li>
                        <a class="toDo" href="{{ site.contentsref }}SoftwareDevelopment/Overview">
                         Overview
                        </a>
                  </li>  
                  <li>
                        <a href="{{ site.contentsref }}SoftwareDevelopment/RequirementsGathering">
                         1. Requirements Gathering
                        </a>
                  </li>                           
                   <li>
                        <a href="{{ site.contentsref }}SoftwareDevelopment/Ballparking">
                         2. Ballparking
                        </a>
                  </li>                           
                   <li>
                        <a href="{{ site.contentsref }}SoftwareDevelopment/SpecificationWriting">
                         3. Specification Writing
                        </a>
                  </li>                           
                   <li>
                        <a class="toDo" href="{{ site.contentsref }}SoftwareDevelopment/ApprovalAndSchedule">
                         4. Approval and Scheduling
                        </a>
                  </li>                           
                   <li>
                        <a class="toDo" href="{{ site.contentsref }}SoftwareDevelopment/ReviewAndCoaching">
                         5. Review and Coaching
                        </a>
                  </li>                           
                   <li>
                        <a  class="toDo" href="{{ site.contentsref }}SoftwareDevelopment/Development">
                         6. Development
                        </a>
                  </li>                           
                   <li>
                        <a  class="toDo" href="{{ site.contentsref }}SoftwareDevelopment/AwaitingResponse">
                         7. Awaiting Response
                        </a>
                  </li>                           
                   <li>
                        <a href="{{ site.contentsref }}SoftwareDevelopment/CodeReview">
                         8. Code Review
                        </a>
                  </li>                           
                  <li>
                        <a href="{{ site.contentsref }}SoftwareDevelopment/TestDeploy">
                         9. Test Deploy
                        </a>
                  </li>                           
                  <li class="toDo" >
                        <a href="{{ site.contentsref }}SoftwareDevelopment/QA">
                         10. QA
                        </a>
                  </li>                           
                  <li >
                        <a class="toDo" href="{{ site.contentsref }}SoftwareDevelopment/InternalPRIs">
                         11. Internal PRIs
                        </a>
                  </li>                           
                  <li >
                        <a class="toDo" href="{{ site.contentsref }}SoftwareDevelopment/CustomerTest">
                         12. Customer Test
                        </a>
                  </li>                           
                  <li>
                        <a  class="toDo" href="{{ site.contentsref }}SoftwareDevelopment/ExternalPRIs">
                         13. External PRIs
                        </a>
                  </li>                           
                  <li>
                        <a href="{{ site.contentsref }}SoftwareDevelopment/LiveDeploy">
                         14. Live Deploy
                        </a>
                  </li>                           
                  <li>
                        <a  class="toDo" href="{{ site.contentsref }}SoftwareDevelopment/MergeToMaster">
                         15. Merge to Master
                        </a>
                  </li>

                  <h4>
                    <i class="fa fa-cog"></i>
                    Branching and Deployment
                  </h4>
                  <li>
                        <a  class="toDo" href="{{ site.contentsref }}BranchingAndDeployment/Overview">
                         Overview
                        </a>
                  </li> 
                                            
                  <h4>
                    <i class="fa fa-list"></i>
                    Miscellaneous
                  </h4>
                  <li>
                        <a href="{{ site.contentsref }}Miscellaneous/Overview">
                         Overview
                        </a>
                  </li> 
                  <li>
                        <a href="{{ site.contentsref }}Miscellaneous/Books">
                         Books
                        </a>
                  </li> 
                  
               </ul>
            </div>
</div>