<!DOCTYPE html>
<html class="t-{{ site.theme }}">
  {% include head.html %}
  <body>

  {% include navigation.html %}	
  
<article class="c-article">
	  
<div class="c-main">
  {% include sidebar.html %}
  <div class="c-article__main">
  <h1 class="c-header__title">{{ page.title }}</h1>
    
  <div class="contents-collection">

	{% assign listclass = '1' %}
	{% assign context = 'test' %}
	{% for collection in site.collections %}

	  {% if collection.label != 'posts' %}
	     <div class="contents-block" id="{{ category | remove:' ' }}">
	          
	            <ul class="contents-post">


	            <li class="post contents-subpost">
                    <a href="/devwiki/content/Contents">
                     Contents
                    </a>
	            </li> 
 				

 				{% assign sortedPosts = collection.docs| sort: 'url' %}
		            {% for post in sortedPosts %}  


						

			            {% if post.title != 'Contents' %}

				            {% assign listclass = '1' %}
				            
				            {% assign spliturl = post.url | split: '/' %}

				            {% assign newContext = spliturl[spliturl.size - 2] %}

				            {% if oldContext == newContext %}

				            <li class="Title contents-subpost">
	                        <a href="{{ post.url | prepend: site.baseurl  }}">
	                         {{ newContext }}
	                        </a>
	                  		</li>

				            {% endif %}

				            {% if spliturl.size == 4 %}
				                {% assign listclass = '2' %} 
				            {% elsif spliturl.size == 5 %}
				            	{% assign listclass = '3' %} 
				            {% elsif spliturl.size == 6 %}
				            	{% assign listclass = '4' %}
				            {% endif %}

				            {% assign oldContext = spliturl[spliturl.size - 2] %}
	                
	                   <li class="post{{listclass}} {{postPadding}} {{newFolder}} contents-subpost">
	                        <a href="{{ post.url | prepend: site.baseurl  }}">
	                         {{ post.url }}
	                         {{post.title}}
	                        </a>
	                  </li>  

			          {% endif %}
	              {% endfor %}          
	               </ul>
	            </div>

	     {% endif %}
	{% endfor %}

</div>

  </div>
</article>
</div>
{% include footer.html %}

  </body>
</html>