<nav class="c-navigation {% if site.fixedNav == 'true' %}is-fixed{% endif %}">
  	<div class="c-navigation__container u-container">
	  	<div class="navigation-header">
		  	<img class="c-navigation__image" src="http://www.glendesk.co.uk/images/intuitive.png"></img>
	  	</div>
	  	<div class="navigation-header">
	  		This is a title
	  	</div>
  	</div>
</nav>



	  	<!-- <a href="{{site.baseurl}}">
		  	<img class="c-navigation__item c-navigation__image" src="http://www.glendesk.co.uk/images/intuitive.png"></img>
		</a>
		<a href="{{site.baseurl}}">
	  		<p>{{site.title}}</p>
		</a> -->
