/* ==========================================================================
   Article
   ========================================================================== */

.c-article {

.c-article__main {
  max-width: 80rem; // 760px;
  @include fs--body;
  background:$c__white; 
  margin: 1rem auto 2rem auto;
  padding:1rem 1rem 1rem 1rem;
  float:right;

  ul {
  margin-left:1.5rem;

  ul {
  margin-left:1.5rem;
  }
  
  ol {
  margin-left:1.5rem;
  }

  }

  ol {
  margin-left:1.5rem;

  ul {
  margin-left:1.5rem;
  }

  ol {
  margin-left:1.5rem;
  }

  }

  > * {
    margin-bottom: 1.8rem;
    color: rgba($c__black, .7);
  }

  a:not(.c-btn) {
    text-decoration: underline;
  }

.c-header__title {
  position: relative;
  @include fs--title;
  background: $c__white;

  span {
    color: rgba(#fff, .5);
  }
  }

  blockquote {
    margin-left: 0;
    width: 100%;
    padding: 2.5rem;
    background: $c__light-grey;
  }
}
}