/* ==========================================================================
   Navigation
   ========================================================================== */

.c-navigation {
  
  .c-navigation__container {
    padding:2rem 0;

  }

.navigation-header {
  float:left;
  vertical-align:bottom;
  padding-left:5rem;
  padding:1rem;
}

  .c-navigation__image {
  width:12rem;
  }
}