/* ==========================================================================
   Navigation
   ========================================================================== */

.c-navigation__container {
  top: 0;
  left: 0;
  width: $s__mainWidth;
  z-index: 10;
  padding-bottom:5px;
  max-width: $s__mainWidth;
  position:relative;

  &u-container {
  padding-top:5px;
  margin-top:12px;
  background: $c__background;
  }
  
  .c-navigation__text {
  float:left;
  padding-top:14px;
  }

  &:after {
    content: '';
    position: relative;
    top: 100px;
    left: 0;
    width: 100%;
    height: 10px;
  }

  &.is-fixed {
    position: fixed;
    will-change: transform;
  }

.c-navigation__item {
  position: relative;
  display: inline-block;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  @include fs--meta;
  color: $c__background;
  text-transform: uppercase;

  &:not(:last-of-type) {
    margin-right: 2.5rem;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: transparent;
    transition: background ease-in-out 0.2s;
  }

  &:hover:after,
  &.is-active:after {
    background: $c__background;
  }

  &.c-navigation__image {
  width:100px;
  margin-right:5%;
  float:left;
  left:-7rem;
  }
}
}
