.c-article{
.c-main{
width:100rem;
margin:0 auto;
.catbloc-collection {

float:left;
background:$c__light-grey;
padding:1rem 2rem 1rem 0;
margin:1rem 0rem 1rem auto;
width:20rem;

.catbloc{

clear:left;
float:left;
margin-left:1.5rem;
padding-top:0.5rem;
max-width:16rem;
list-style:none;
text-transform:uppercase;
font-size:125%;

	.sidebar-post{

		text-transform:none;

		.sidebar-subpost{

		&.post{

		margin-left:0;
		list-style:none;

		}

		&.subpost{

		margin-left:1.25rem;
		list-style:none;

		}

		&.subsubpost {

		margin-left:2.5rem;
		list-style:none;

		}

		}

	}

}
}
}
}